@model IEnumerable<MJPnPMVC.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>ID Number</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.customerID</td>
            <td>@item.firstName</td>
            <td>@item.lastName</td>
            <td>@item.idNumber</td>
            <td>@item.dateOfBirth</td>
            <td>@item.gender</td>
            <td>@item.email</td>
            <td>
                @Html.ActionLink("Edit", "Update", new {  id= item.customerID }) |
                @Html.ActionLink("Details", "Details", new { id= item.customerID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.customerID })
            </td>
        </tr>
}
    </tbody>
</table>
